.UserList {
  width: 80px;
  background-color: #1f2542;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: white;
  transition: all 0.2s ease-in-out;

  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;

  .UserWrapper {
    height: 350px;
    overflow: hidden;
    margin-bottom: 35px;
    overflow-y: scroll;
  }

  img {
    width: 55px;
    transition: all 0.2s ease-in-out;
  }

  img:hover {
    transform: scale(
      1.2
    ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
  }
  h2 {
    font-size: 17px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
  }
}
