.Chat {
  position: relative;
  width: 300px;
  border-right: none;
  background-color: whitesmoke;
  height: 90vh;

  .messages {
    display: list-item;
    overflow: scroll;
    height: 93%;
  }

  input {
    position: absolute;
    width: 100%;
    height: 6%;
    font-size: 25px;
    bottom: 1px;
  }
}
