.WordBlock {
  position: absolute;
  top: 5%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  z-index: 999;

  transform: translate(-50%, -50%);

  font-size: 20px;
  span {
    text-transform: uppercase;
    p {
      text-align: center;
      display: inline-block;
      margin: 7px;
      border-bottom: 1px solid black;
      width: 18px;
    }
  }
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
