.TimerClock-container {
  position: absolute;
  top: 30px;
  left: 30px;
  font-weight: bolder;
  z-index: 999;

  .TimerClock {
    width: 60px;
  }

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
