.Canvas {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  padding-top: 20px;

  .Container {
    display: flex;
    justify-content: center;
    // justify-content: space-between;
  }

  canvas {
  }
}
