.Canvas {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  padding-top: 40px;

  .Container {
    display: flex;
    justify-content: center;
    // justify-content: space-between;
  }
}

.CanvasContainer {
  position: relative;
}
