@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.App {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
/* GLOBAL  */
h3,
h1,
h4 {
  text-transform: capitalize;
}
