.MessageContainer {
  display: flex;
  color: white;
  padding: 20px;
  align-items: center;
  flex-shrink: 0;
  height: 55px;
  margin-top: 12px;

  .imageContainer {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
  }
  img {
    width: 100%;
  }

  .Message {
    margin-left: 10px;
    background-color: #666d8c;
    border-radius: 10px;
    padding: 10px;

    p {
      padding: 0;
      font-size: 16px;
      margin: 0;
      max-width: 175px;
      word-wrap: break-word;
    }
  }
}
